<a href="https://colab.research.google.com/github/ussalbt/Assignment/blob/main/Statistics_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

 Import **NumPy**, **SciPy**, and **Pandas**

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [ ]:
#samples = np.random.normal( mean,std.dev,samplesize)örnekler olacak 
samples = np.random.normal(100,15,1000)
samples

array([ 85.44325872, 122.64763131, 104.743503  ,  91.32730597,
        77.81700001, 107.50207008,  93.31869875,  78.64856302,
        96.10315231,  98.91089936,  90.40661405, 106.25767955,
       107.35691786, 102.2165715 , 113.78559192,  95.12126051,
        97.59979574,  86.30755043, 100.92785416,  82.98742762,
       117.57792826,  65.36530434, 119.0936862 , 102.85298072,
        92.27315712,  99.98520269,  87.60452923,  70.17567981,
        89.07263466, 124.29567467,  88.13587915, 109.94575506,
        92.01264515,  83.38324319, 104.60892723, 106.88254581,
        97.89034966,  92.53115879, 109.43405558, 108.90495249,
        87.69635016, 116.36368461,  96.45338915, 100.42874134,
       130.78692313, 100.84883076, 116.11096428, 100.34031121,
        73.15640415, 110.16767643, 112.86009666, 106.54600052,
        79.81060711, 104.30776766,  80.47887508,  88.84810588,
        92.14796123, 108.02651181,  86.11433747,  86.96059352,
       121.1084095 ,  97.92150451, 115.98092345,  97.7840641 ,
       102.37758347,  90.59966344,  73.57243274,  85.32603147,
        98.93901475, 121.0543009 ,  83.00922669,  87.44339447,
       110.78021788,  89.32980241,  75.43868717, 115.79073071,
        88.5228889 ,  97.57312036, 110.61655553,  74.97624652,
       108.66581275, 100.03568265, 107.31031623, 130.91354062,
        96.19365554, 126.35045612,  79.73235355,  94.94911781,
        96.18165231, 108.45772679,  85.68425629,  91.93349635,
        87.43189996, 113.96836343,  87.65483017, 100.13858999,
        99.47165259,  95.27544533, 114.69035919, 101.48579144,
        95.31303418, 102.14490719, 103.4741962 ,  96.72623052,
        70.50431945,  92.02411969, 126.9026873 ,  89.68537559,
       111.74131076,  83.69783584,  88.69616415, 101.60287734,
       120.29255618, 131.56278252,  66.85877021, 118.71258038,
       111.36210212,  94.14275023, 100.04538934, 115.2844695 ,
        99.15518702, 100.65507188,  99.23182172,  89.87212997,
        92.19639097, 112.24725777,  95.16046068,  90.80715042,
        82.76054874,  99.18216167, 107.83840023,  72.73479861,
        65.55953293, 100.80461362, 117.51133603,  90.24581604,
       105.30716658, 102.08900827,  69.53309888,  72.1433323 ,
        92.49914725, 109.88654677, 107.5743476 ,  85.35304777,
        91.49747292,  88.06493479, 107.30994338,  92.6729134 ,
       105.87376518,  86.69443079, 119.85618545, 113.24507544,
        92.31465423,  88.11512978, 127.25015606, 109.40624535,
       112.79909534,  89.2590156 ,  94.29572799,  63.72636049,
        88.66626331,  86.29716866, 109.85288785, 121.94709848,
        92.96254483, 101.62465374, 113.57097764, 117.94056364,
        95.98255265,  59.19248127, 122.98685489,  93.34119362,
        82.93714351, 113.65768872, 108.28112976, 122.99771968,
        94.56808689, 110.16829105, 102.8401446 ,  96.13882233,
        94.60268295,  94.27242848,  89.65003172,  76.96693329,
        85.02421723, 102.50385179,  97.04113947, 144.25019078,
        75.42500134,  88.26063126, 118.58207472, 101.18021138,
        89.8787574 , 114.37993257,  84.24559678, 119.30045787,
       101.30810132, 100.87035394,  93.53423033, 107.20191848,
       107.50747039,  90.39626059, 113.95307371, 106.98481762,
        89.5104024 , 101.57546133, 115.93875411, 128.45210353,
       111.81597066, 107.41884072, 100.84265504, 123.91035854,
       128.83511687, 105.38768325, 107.68912408, 110.22828133,
        93.49130997, 119.57011635, 107.6738854 , 103.36949957,
        89.84645901,  83.94417572,  64.11923924, 103.76270404,
       100.49074568, 109.66658687,  98.54397415, 112.73781832,
       101.15172354,  88.0610595 , 110.89553671, 109.60408046,
        78.37265707, 117.78900064, 113.85970328, 109.60066304,
        96.26123651, 123.84042578,  80.14546442, 105.91202642,
       133.7597255 , 112.67254521, 115.59819822,  74.23748859,
        86.75271758,  70.93221065, 115.05908512, 107.77727503,
       101.25922558,  89.34144949,  67.01621204, 114.29045325,
       104.23862778,  64.67859624, 121.36466245,  83.52476347,
       111.41316927, 127.81089365, 117.6969147 ,  95.06896733,
       104.84168534, 116.32836977,  85.45334505, 104.10040556,
        79.98016171,  90.55399676, 104.04527747, 105.09984259,
       103.08246147, 104.91297865, 104.01908908, 100.29149115,
        78.20079217, 101.18410329,  90.37104625, 100.15610626,
       103.79422301,  89.70700623, 111.95939805,  96.0425114 ,
       114.64485011,  93.88008877,  89.89175344, 127.25156463,
        97.61937788,  82.87945826, 104.81847335,  96.25386844,
       103.35081778, 114.0211636 ,  83.09954192,  80.32479133,
       106.0521314 , 101.09591845,  92.58940101,  74.16387146,
        92.38198599,  93.00270369, 102.22186004,  95.09937413,
       107.47557988,  85.09001936,  86.01887257, 140.38962161,
       108.49233293,  69.81190426, 103.93927039, 114.61092482,
        66.81793437,  95.11394889, 131.27727045,  92.07856601,
        87.33809972,  77.17838025,  92.99210907, 101.1909917 ,
       115.02190498, 113.29689474,  86.91287963, 116.14776299,
        88.8054074 , 121.50614687,  89.08338591, 119.13699756,
        90.17697536, 119.80448249, 104.12436531, 104.85654745,
       137.94404467,  98.67970228,  81.84497109, 100.31690837,
        76.28386328, 107.84137893,  80.51473801,  94.16527113,
       109.77427815, 105.76790287,  88.9969081 ,  94.00804007,
        69.24576309, 110.29475382, 105.04065066, 123.81554624,
       102.93860858,  90.08347149, 115.95193236, 132.08892711,
       119.19189183,  63.23490731, 103.45175337, 110.44146615,
        87.24865426, 103.98602414,  99.55257393,  99.67289402,
       115.25437296, 112.14314504, 131.78361106,  90.43740383,
       109.26938062,  78.40184848,  99.76681817, 112.92847175,
        92.98825193, 119.67453458, 105.4398165 , 111.79726581,
        90.01352777,  78.50523994, 113.67458309,  95.85135823,
       100.02655789, 100.09010815,  94.29770147,  97.34543424,
       103.05969573, 106.66148449,  90.29997591,  93.09015268,
       115.36377253, 129.05083202, 111.41673724,  88.84741028,
       120.92544861,  95.52352862, 110.86926899, 100.44286752,
       111.33163015,  99.20013513,  95.63639602, 107.07610003,
        68.21472943,  72.84437747,  95.02539037,  87.3148416 ,
        55.93901267,  73.83450671,  83.5698887 ,  92.48180738,
        85.68911152,  97.29505028, 125.33166997,  90.67085632,
       120.97364115, 103.69773153, 128.44112687, 104.72245886,
        89.53558361,  96.38491324,  85.4594278 , 109.48578087,
        86.36385513, 107.43911609, 114.65318154,  99.0354438 ,
        82.10810334, 101.76657859, 107.17081273, 106.97412054,
       114.21899102, 123.54750241, 127.65083244,  99.73012069,
       104.0112359 ,  96.07544983, 100.84407409,  91.02428724,
        99.15313239, 106.55990267,  92.79929998, 103.56873528,
       115.82304658, 106.66018778, 105.25775856, 109.4763072 ,
       106.61684665,  96.92207187, 114.02155542,  98.28363442,
       104.28996742, 100.36049799, 115.57139717,  91.25527042,
       128.91829882, 101.24001633, 101.59671646,  87.18121286,
       108.27652581, 113.0749779 , 111.1871169 , 104.21915065,
        83.11319762, 121.4104173 , 110.36413368, 115.83404301,
        88.00565838,  92.11608569,  76.38407172, 121.05616778,
        76.02628657, 119.42764328, 117.32656483, 113.83794287,
        82.88823039, 121.847311  ,  97.48389984,  99.85658867,
       137.55616301, 106.10389484, 113.10379005,  97.58651727,
        93.09704198,  86.21916268, 112.56882962,  85.20068534,
       106.58041253,  84.17183413, 109.15391447, 128.08152824,
       110.47668549, 123.63951898, 109.69986004, 118.46304803,
       110.4107886 , 102.04117762,  94.94793814,  76.6575425 ,
       100.10639414,  94.74878409,  86.50361967,  95.21534324,
       120.03821072,  87.89210605,  85.61748551,  86.17372481,
        86.97661953, 111.66499329, 103.49484264, 121.18665281,
        80.49829899, 122.98057951, 112.82965029, 114.0575765 ,
        97.42472899, 105.283092  , 100.9894435 , 111.19631601,
       108.15710678,  99.84783344,  98.69964636,  85.80330082,
       103.48375503, 115.43462943,  87.27112612, 106.14847807,
       124.68357251, 103.3771843 , 111.65514258, 102.35202076,
        86.88045827,  67.42421156, 104.73303732, 117.44772421,
        93.92498441,  89.52965792,  86.77626   , 101.49204254,
        58.57224307, 105.97075361, 108.37341181, 106.05071292,
       117.02491466, 104.18802133,  71.84718931,  84.7683891 ,
        96.20507172, 100.78848099, 113.23966712, 119.88211144,
       107.43734848,  97.70048962,  95.8416254 ,  91.90131776,
       104.89858051, 106.2241285 , 104.63850199,  77.11488292,
       125.60634724,  90.97547336,  89.94694505,  84.66832821,
        87.4474376 , 116.20694766,  85.83619483,  76.59912793,
       101.00004426, 114.01965762, 108.28955367, 116.79933979,
        85.46912633,  97.20718697, 114.84958318,  76.61573311,
        99.91976512, 114.68087992, 101.10821416, 134.40132153,
       102.73096631,  66.08048417,  92.10444102,  83.69415257,
        90.98631848,  73.13263034, 109.45040445,  92.53918162,
       104.45654267, 115.79610959, 121.91006755, 108.45782541,
        75.59425996,  89.2941224 ,  70.5066046 ,  73.36211163,
       108.07508083, 108.31620588, 102.06822517, 114.24393283,
       115.83214693, 101.7096495 ,  89.49977749,  86.47627286,
        90.26155578, 103.66353442,  80.92133233, 111.84999577,
       101.36148702,  82.57293259, 120.4337929 ,  98.59347862,
        88.80461352,  88.03025503, 103.04289287, 112.65983072,
       140.04799987,  95.56769908, 100.98385113, 110.08828957,
       132.02624647, 108.81937913, 102.94435142,  87.29164731,
        98.05575114,  97.54175768,  87.25510298, 116.89617909,
       123.21391906, 106.15698933, 110.82909418, 105.5955423 ,
       101.54947529, 121.02818705,  74.15724017, 111.30601798,
       111.69745777, 102.14066837,  91.83966792, 107.59315617,
        82.70065624, 123.32592554, 111.70370431,  74.79921746,
        82.7823206 , 120.51423708,  85.05520737,  93.01218643,
       114.57439499, 128.45478508,  90.30133473,  95.31331438,
        87.04149423, 107.87327283, 101.56544387,  83.83581302,
        90.39142467,  80.39810138,  76.30424896,  98.84917499,
       118.15760014,  97.98920513,  72.26512095, 116.33025813,
       102.6972816 , 109.2815277 , 115.7391741 ,  84.73134166,
        96.25751466, 118.75111217,  96.24726085, 126.78760054,
        95.17272911,  92.12762337,  96.82953486,  90.11085533,
       105.27312107, 135.53561918, 105.37793664, 109.95633053,
       106.19372463, 122.47625906,  69.15190354, 115.3272479 ,
        86.68284494,  95.96496414, 102.6943498 , 115.228351  ,
       126.21734127, 102.45669884,  93.31001793, 100.11580997,
        82.76736907,  84.65868608, 103.85031548,  92.1935014 ,
       112.86313109,  91.39247603,  75.00153904, 101.69773211,
       128.5349909 , 106.09986183,  91.59964196,  96.39988795,
        88.1749677 , 124.32390546,  92.46588271,  93.51661133,
       106.11627125, 101.64254348,  76.50171357,  72.60412248,
        93.00521889, 112.47606654,  89.336198  ,  96.38291766,
       100.08574465, 112.48382497,  85.29493351,  89.44177344,
       105.32669971, 107.65831859,  81.55302451,  90.19769747,
        95.88680835, 110.00793876, 113.03476463,  99.12431414,
       101.14114218, 102.88905369,  93.60189398, 100.38425751,
       124.00764341,  78.40479858, 104.60531311, 111.6234761 ,
        84.30653555,  92.98543403,  77.00673244, 110.93427073,
        91.55100391, 112.33664307, 121.95077881,  96.68536043,
       112.53125327,  88.95883684, 110.37162691,  66.55563678,
       101.18191615, 103.99104946,  97.37176073, 104.4758352 ,
       121.51654831,  89.11847524,  83.32852703,  96.43041518,
        90.40317834, 130.21082585,  84.12116109, 126.17361695,
        99.1459004 , 115.17063707,  87.95516026,  68.91687571,
        92.93750364, 117.63167656,  98.34670683, 121.93201616,
        87.90552749, 114.86589893, 134.63560344,  80.03797587,
       102.44096009,  73.65350394,  89.22458613,  89.75808299,
       110.7848293 ,  98.35618985,  82.55790644, 102.07506887,
        79.28288739,  76.43041737,  98.2957282 , 101.0652192 ,
       101.95769695,  87.87413112,  92.28577115,  90.10982388,
        96.29037824, 101.92618877,  94.18182562, 126.67236061,
       109.73798588,  95.08290456, 112.67276493, 101.14838121,
        91.31351414, 107.01668191, 112.01788896, 108.43690785,
       116.3682498 , 131.75914427,  80.29327018,  98.4127818 ,
        73.45591275,  85.18134684, 117.13283728, 104.42690045,
        78.55113011,  98.27144341, 108.78002261,  94.49235266,
        95.52660562, 104.24037808, 101.35497306,  95.90359211,
       108.63816363, 121.80313871,  82.91729402,  92.74487164,
        79.41117477, 107.53040281,  88.85357787,  54.01465472,
       118.08639253,  64.34932749,  86.47764712,  99.80409909,
        88.85757926,  95.89692048, 122.85739961,  91.86164348,
       101.96737426, 123.00203939, 125.00540373,  84.18486184,
       106.63005688, 106.14454184,  88.49035062,  94.21812617,
        95.97984851, 103.47316907,  98.01527847,  96.22744289,
        96.172888  ,  91.58332011, 118.60959571,  89.02307905,
        90.03663039,  79.51705579, 102.67394641, 111.4410114 ,
        91.43372003, 110.21285307,  90.93602267,  75.01147577,
       110.55237088,  91.88437898, 110.78556226, 105.6380747 ,
        95.32452566, 124.56388219, 109.96268319,  98.17612734,
        82.34344826, 106.93278423, 107.88085427,  96.53713165,
       115.90135903, 103.45088468, 100.40688358,  82.69022887,
        83.74463167, 106.17255898, 103.39897832,  89.40010714,
        97.19724721,  95.9324274 ,  91.68308288, 109.51447384,
        88.45199979, 116.24490632,  81.03347842,  92.70537476,
        99.62608319, 103.55403163,  96.39595067,  95.3288552 ,
        88.68611288,  81.21449382,  92.24467124,  92.10081315,
       122.43078516, 107.89390609,  99.07535413,  91.1788003 ,
       106.37196518, 105.35554496,  85.97848101,  84.62774998,
        72.71214935,  99.76397983, 116.57412215,  94.45476593,
       105.99800881, 122.39937627, 102.41695003,  84.60269509,
        70.93298234, 107.61704879,  94.97006581, 115.77882767,
       112.20668171,  90.86310266,  85.0051893 , 100.80444078,
       112.8862246 , 100.12785422,  89.12978671,  95.08117546,
        95.16794287,  89.61683267,  88.54220224, 105.08643539,
       108.13808258,  75.68560237,  88.79206266,  88.46918643,
        86.90820072,  90.98815578,  98.00374793,  99.47963923,
       103.32505706,  95.37508712, 118.26501005, 103.25979083,
        81.71715251,  88.22114956, 104.5866547 , 101.89428118,
       122.65376708,  87.01890455, 134.67312948,  94.43812541,
       127.92576851, 110.28021847, 106.46487369,  78.64596486,
        99.02066377,  93.58947551, 124.35638976,  94.68020752,
       102.28991675,  84.02491014, 116.97073955,  76.42611104,
       138.38594336,  98.45688905,  70.2022986 ,  94.33141916,
        87.45101304, 105.59719051, 109.16730851, 127.55826067,
       113.45912049, 103.49276649, 101.36250061,  93.20657982,
        89.3817216 ,  87.48543489, 116.98786622,  93.68842369,
        84.92583698, 113.1371479 , 104.74878344,  87.18196423,
       118.03379676, 115.19826656, 136.49623492,  99.50663555,
       102.39792132, 100.51173987, 110.5926984 ,  99.6653544 ,
       112.6386449 , 115.36768994,  88.50141087, 117.15199055,
        96.94485347,  91.52206098,  81.62721238, 131.77528737,
        95.47608756,  88.02888703,  83.14623217,  87.24288006,
       125.01931722,  64.43436141,  95.24624528, 100.11836918,
        82.21271561, 120.84745943, 109.52564631, 130.87061072,
        84.56299222,  94.54632692,  80.77621782,  90.66652982,
       106.21792816,  80.54764231,  88.62851391,  79.34620867])

Compute the **mean**, **median**, and **mode**

In [ ]:
mean = np.mean(samples)
median = np.median(samples)
mode = stats.mode(samples)
print("mean:", mean)
print("median:",median)
print("mode:",mode)

mean: 99.92146875909822
median: 100.11708957325502
mode: ModeResult(mode=array([54.01465472]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [ ]:
min = np.min(samples)
max =np.max(samples)
q1 = np.percentile(samples,25)
q3 = np.percentile(samples,75)
iqr = q3 - q1
iqr_1 = stats.iqr(samples)
print("max:",max)
print("min:",min)
print("Q1:",q1)
print("Q3:",q3)
print("iqr:",iqr)
print("iqr_1:",iqr_1)

max: 144.25019078349652
min: 54.014654720215916
Q1: 89.52484403971513
Q3: 110.10813628091908
iqr: 20.58329224120395
iqr_1: 20.58329224120395

Compute the **variance** and **standard deviation**

In [ ]:
variance = np.var(samples)
std_dev = np.std(samples)
print("var:",variance)
print("std:",std_dev)

var: 220.30049258590756
std: 14.842523120612194

Compute the **skewness** and **kurtosis**

In [ ]:
skewness = stats.skew(samples)
print("skewness:",skewness)
kurtosis =stats.kurtosis(samples)
print("kurtosis:",kurtosis)

skewness: -0.0029901545429166974
kurtosis: -0.10346368847290321

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [ ]:
x = np.arange(10,20)
print(x)

[10 11 12 13 14 15 16 17 18 19]

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [ ]:
y = np.random.randint(1,1000,10)
print(y)

[152 470 911 610  36 377 476 430 316 359]

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [ ]:
r = np.corrcoef(x,y)
r

array([[ 1.        , -0.12854875],
       [-0.12854875,  1.        ]])

## Pandas Correlation Calculation

Run the code below

In [ ]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])
print(x)
print(y)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0     2
1     1
2     4
3     5
4     8
5    12
6    18
7    25
8    96
9    48
dtype: int64

Call the relevant method  to calculate Pearson's r correlation.

In [ ]:
r =x.corr(y)
r= y.corr(x)
r

0.7586402890911869

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho = x.corr(y, method =  "spearman")
rho

0.9757575757575757

In [ ]:
rho = x.corr(y, method = "kendall")
rho

0.911111111111111

## Seaborn Dataset Tips

Import Seaborn Library

In [ ]:
import seaborn as sns

Load "tips" dataset from Seaborn

In [ ]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [ ]:
tips.corr("pearson")

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000